<p id="notice"><%= notice %></p>

<p>
  <strong>Music:</strong>
  <%= @checkboxed_model.music %>
</p>

<%= link_to 'Edit', edit_checkboxed_model_path(@checkboxed_model) %> |
<%= link_to 'Back', checkboxed_models_path %>
